*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:white ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title{
    font-size: 50px;
    font-family:monospace;
    margin-bottom: 10px;
}

.banner{
    border-radius: 10px;  
    width: 100%; 
}


.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color:#2C3E50;
    display: flex;
    flex-direction: row;
    
}

.main-nav__item a{
    color: white;
    padding: 5px;    
    text-decoration: none;
    border-radius: 2px;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.footer{
    background: #2C3E50;
    color: white;
    border-radius: 0px;
    font-size: 15px;
    text-align: center;
    
}
.footer img{
    width: 50px; ;
    height: 50px;;
}

   
ol{
    list-style:none;
}

.article-img{
    width: 350px; ;
    height: 350px;;

}
