body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:#D6DBDF	;
}
.banner{
    border-radius: 10px;
}

p {
    text-align:justify
}

nav{
    display: flex;
    flex-direction: row;
    background:#D6DBDF
}
footer{
    background: rgb(150, 138, 138);
    border-radius: 5px;
}
   
